---
import SearchInput from "~/components/search-input";
import Settings from "~/components/settings";
import Layout from "~/layouts/layout.astro";

export const prerender = true;
---

<Layout
  title="Queryly"
  description="Search the web with Queryly. Search engine with AI-powered search results, powered by SearXNG."
>
  <Settings className="absolute right-3 top-3" client:load />
  <main class="flex flex-1 flex-col items-center justify-center">
    <h1 class="mb-12 font-heading text-7xl font-semibold tracking-[-3%]">
      Queryly
    </h1>
    <div class="w-full max-w-screen-sm px-6">
      <SearchInput client:load />
    </div>
  </main>
</Layout>

<style>
  body {
    @apply bg-dot-[#E5E5E5] dark:bg-dot-[#262626];
  }
</style>
