---
import SearchInput from "~/components/search-input.astro";
import Layout from "~/layouts/layout.astro";
import { search } from "~/lib/searxng";

const query = Astro.url.searchParams.get("q") ?? "";
const res = await search(query);
---

<Layout>
  <header class="border-b pt-6">
    <div class="grid grid-cols-[6rem_1fr] gap-6 pl-10">
      <div class="flex items-center">
        <a class="font-heading text-2xl font-semibold tracking-[-3%]" href="/">
          Queryly
        </a>
      </div>
      <div class="flex w-full max-w-[40rem]">
        <SearchInput initialQuery={query} />
      </div>
      <div class="col-start-2 flex items-end">
        <p class="border-b-2 border-foreground">General</p>
      </div>
    </div>
  </header>
  <main class="flex flex-1 flex-col space-y-6 py-8 pl-40">
    {
      res.results.map((result) => (
        <a href={result.url} class="max-w-screen-2xl">
          <span>{result.title}</span>
          <p>{result.content}</p>
        </a>
      ))
    }
  </main>
  <div class="w-full border-b"></div>
</Layout>
