---
import { Moon, Sun } from "lucide-react";

import { Button } from "./ui/button";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<theme-toggle>
  <Button {className} variant="ghost" size="icon">
    <Sun className="dark:hidden" />
    <Moon className="hidden dark:block" />
    <span class="sr-only">Toggle theme</span>
  </Button>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    connectedCallback() {
      const button = this.querySelector("button");
      if (button) {
        button.addEventListener("click", this.toggleTheme.bind(this));
      }
    }

    async toggleTheme() {
      const isDark = document.documentElement.classList.contains("dark");
      if (isDark) {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    }
  }

  customElements.define("theme-toggle", ThemeToggle);

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (e) => {
      document.documentElement.classList[e.matches ? "add" : "remove"]("dark");
    });
</script>
